/*
!/src
!/mcmod.info
!/MODLICENSE.txt
!/.gitignore
!/.gitattributes
!/Changelog.txt
!/mods
!/build.xml
.gradle/
build/
debug_client/
debug_server/
eclipse/
gradle/
libs/
out/
src/api
src/main/scala/net
src/main/resources/assets/powersuits