# Configuration file

item {

    feature {
        # This allows you to disable Florbs entirely. It also means that you actively dislike fun things.
        B:Florb.Enable=true
    }

}


whitelist {
    B:coal=true
    B:cryotheum=true
    B:ender=true
    B:fuel=true
    B:glowstone=true
    B:ic2biogas=true
    B:ic2biomass=true
    B:ic2constructionfoam=true
    B:ic2coolant=true
    B:ic2distilledwater=true
    B:ic2hotcoolant=true
    B:ic2pahoehoelava=true
    B:ic2steam=true
    B:ic2superheatedsteam=true
    B:ic2uumatter=true
    B:lava=true
    B:mana=true
    B:oil=true
    B:pyrotheum=true
    B:redplasma=true
    B:redstone=true
    B:steam=true
    B:water=true
}


